@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-poppins: "Poppins", sans-serif;
  --text-high-contrast: rgb(49, 49, 49);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
}
body {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}
.embla {
  --slide-height: 22rem;
  --slide-spacing: 1.5rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  margin-right: 20px;
  min-width: 0;
  padding: var(--slide-spacing);
}
.embla__slide:nth-last-child(1) {
  margin-right: 0;
}

.embla__dots {
  display: flex;
  align-items: center;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot::after {
  box-shadow: inset 0 0 0 0.2rem #e6e0f3;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: " ";
}

/* Mobile - 1 slide in viewport */
.embla__slide {
  flex: 0 0 100%;
}

/* Tablet - 2 slides in viewport */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 48%;
  }
}

/* Desktop - 3 slides in viewport */
@media (min-width: 992px) {
  .embla__slide {
    flex: 0 0 32%;
  }
}
